//- HTML Variables 
-var pageTitle = 'Green Shop'
-var content_rowOne__p1 = 'Open time: 8:00 -18:00 Monday - Sunday'
-var content_rowTwo__p1 = 'Đăng nhập'
-var content_rowTwo__p2 = 'Đăng ký'
-var content_p ='HỖ TRỢ : (04)6674 2332 - (04)3786 8904'
-var content_250k = '250.000 đ'
-var content6__p1 = 'thứ 7 ,ngày 31, tháng 12, năm 2015'
-var caydanhdu ='Cây Danh Dự'
-var caydalam ='Cây Dạ Lam'
doctype html
html(lang='en')
  head
    title #{pageTitle}
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    script(type='text/javascript', src='vendor/bootstrap.js')
    //- script(type='text/javascript', src='1.js')
    link(rel='stylesheet', href='vendor/bootstrap.css')
    link(rel='stylesheet', href='vendor/font-awesome.css')
    link(rel='stylesheet', href='style.css')
  body
    // Start : Header
    include header.pug
    // End : Header
    // Start : content1
    section.content1
      img(src='img/Green Shop/PSD/slide-1920x590.png', alt='', height='393px', width='100%')
    // End : content1
    // Start : content2
    section.content2
      .container.content2--container
        .content2--rowOne
          p.content2--rowOne__p Sản phẩm nổi bật
          hr.content2--rowOne__hr
        .content2--rowTwo
          // Start : content Column The Left
          .col-xs-6.col-sm-6.col-md-6.col-lg-6.content2--rowTwoLeft
            .content2--rowTwoOne
              .thumbnail.content2--rowTwoOne--thumbnail
                img.content2--rowTwoOne--thumbnail__img(src='img/Green Shop/PSD/spx2/spx2-4.png', alt='', height='480px', width='539px')
                p.content2--rowTwoOne--thumbnail__p Cây chân chim
                .content2--rowTwoOne--thumbnail--star
                  i.fa.fa-star.item-1(aria-hidden='true')
                  i.fa.fa-star.item-2(aria-hidden='true')
                  i.fa.fa-star.item-3(aria-hidden='true')
                  i.fa.fa-star.item-4(aria-hidden='true')
                  i.fa.fa-star-half-o.item-5(aria-hidden='true')
                .content2--rowTwoOne--thumbnail--rate
                  p.content2--rowTwoOne--thumbnail--rate__p1 #{content_250k}
                  p.content2--rowTwoOne--thumbnail--rate__p2 #{content_250k}
                .content2--rowTwoOne--thumbnail--Circle
                  p.content2--rowTwoOne--thumbnail--Circle__p new
            .content2--rowTwoTwo
              span.content2--rowTwoTwo__span1
              p.content2--rowTwoTwo__p mua ngay
              span.content2--rowTwoTwo_span2
                i.fa.fa-search(aria-hidden='true')
            .content2--rowTwoThree
              .content2--rowTwoThreeLeft
                .col-xs-3.col-sm-3.col-md-3.col-lg-3
                  img.content2--rowTwoThreeLeft__img(src='img/Green Shop/PSD/spx2/spx2-11.png', alt='', width='255px', height='219px')
                  p.content2--rowTwoThreeLeft__p Cây cọ ta
                  .content2--rowTwoThreeLeft--thumbnail--star
                    i.fa.fa-star(aria-hidden='true')
                    i.fa.fa-star(aria-hidden='true')
                    i.fa.fa-star(aria-hidden='true')
                    i.fa.fa-star(aria-hidden='true')
                    i.fa.fa-star-half-o(aria-hidden='true')
                  .content2--rowTwoThreeLeft--thumbnail--rate
                    p.content2--rowTwoThreeLeft--thumbnail--rate__p1 150.000 đ
                    p.content2--rowTwoThreeLeft--thumbnail--rate__p2 #{content_250k}
              .content2--rowTwoThreeRight
                .col-xs-3.col-sm-3.col-md-3.col-lg-3
                  img.content2--rowTwoThreeRight__img(src='img/Green Shop/PSD/spx2/spx2-6.png', alt='', width='255px', height='219px')
                  p.content2--rowTwoThreeRight__p Cây dứa nhỏ
                  .content2--rowTwoThreeRight--thumbnail--star
                    i.fa.fa-star(aria-hidden='true')
                    i.fa.fa-star(aria-hidden='true')
                    i.fa.fa-star(aria-hidden='true')
                    i.fa.fa-star(aria-hidden='true')
                    i.fa.fa-star-half-o(aria-hidden='true')
                  .content2--rowTwoThreeRight--thumbnail--rate
                    p.content2--rowTwoThreeRight--thumbnail--rate__p1 375.000 đ
                    p.content2--rowTwoThreeRight--thumbnail--rate__p2 #{content_250k}
          // End : content Column The Left
          // Start : content Column The Right
          .col-xs-6.col-sm-6.col-md-6.col-lg-6.content2--rowTwoRight
            .content2--rowTwoFour
              .thumbnail.content2--rowTwoFour--thumbnail
                img.content2--rowTwoFour--thumbnail__img(src='img/Green Shop/PSD/spx2/spx2-3.png', alt='', height='480px', width='539px')
                p.content2--rowTwoFour--thumbnail__p Cây đa búp đỏ
                .content2--rowTwoFour--thumbnail--star
                  i.fa.fa-star(aria-hidden='true')
                  i.fa.fa-star(aria-hidden='true')
                  i.fa.fa-star(aria-hidden='true')
                  i.fa.fa-star(aria-hidden='true')
                  i.fa.fa-star-half-o(aria-hidden='true')
                .content2--rowTwoFour--thumbnail--rate
                  p.content2--rowTwoFour--thumbnail--rate__p1 1.000.000 đ
                  p.content2--rowTwoFour--thumbnail--rate__p2 #{content_250k}
                .content2--rowTwoFour--thumbnail--Circle
                  p.content2--rowTwoFour--thumbnail--Circle__p new
            .content2--rowTwoFive
              span.content2--rowTwoFive__span1
              p.content2--rowTwoFive__p mua ngay
              span.content2--rowTwoFive_span2
                i.fa.fa-search(aria-hidden='true')
            .content2--rowTwoSix
              .content2--rowTwoSixLeft
                .col-xs-3.col-sm-3.col-md-3.col-lg-3
                  img.content2--rowTwoSixLeft__img(src='img/Green Shop/PSD/spx2/spx2-5.png', alt='', width='255px', height='219px')
                  p.content2--rowTwoSixLeft__p #{caydalam}
                  .content2--rowTwoSixLeft--thumbnail--star
                    i.fa.fa-star(aria-hidden='true')
                    i.fa.fa-star(aria-hidden='true')
                    i.fa.fa-star(aria-hidden='true')
                    i.fa.fa-star(aria-hidden='true')
                    i.fa.fa-star-half-o(aria-hidden='true')
                  .content2--rowTwoSixLeft--thumbnail--rate
                    p.content2--rowTwoSixLeft--thumbnail--rate__p1 500.000 đ
                    p.content2--rowTwoSixLeft--thumbnail--rate__p2 #{content_250k}
                  .content2--rowTwoSixLeft--PercentageReduction
                    p.content2--rowTwoSixLeft--PercentageReduction__p -50%
              .content2--rowTwoSixRight
                .col-xs-3.col-sm-3.col-md-3.col-lg-3
                  img.content2--rowTwoSixRight__img(src='img/Green Shop/PSD/spx2/spx2-15.png', alt='', width='255px', height='219px')
                  p.content2--rowTwoSixRight__p Cây Danh Dự
                  .content2--rowTwoSixRight--thumbnail--star
                    i.fa.fa-star(aria-hidden='true')
                    i.fa.fa-star(aria-hidden='true')
                    i.fa.fa-star(aria-hidden='true')
                    i.fa.fa-star(aria-hidden='true')
                    i.fa.fa-star-half-o(aria-hidden='true')
                  .content2--rowTwoSixRight--thumbnail--rate
                    p.content2--rowTwoSixRight--thumbnail--rate__p1 850.000 đ
                    p.content2--rowTwoSixRight--thumbnail--rate__p2 #{content_250k}
                  .content2--rowTwoSixRight--New
                    p.content2--rowTwoSixRight--New__p new
          // End : content Column The Right
      div
    // End : content2
    // Start : content3
    section.content3
      .container.content3--container
        .row.content3--container--row
          .col-xs-3.col-sm-3.col-md-3.col-lg-3.content3--container--row--displayleft
            p.content3--container--row--displayleft__p Sản phẩm mua nhiều
            hr.content3--container--row--displayleft__hr
            ul.list-group.content3--container--row--displayleft__ul
              li.list-group-item.content3--container--row--displayleft__li
                img.content3--Left--container--row--displayleft__li__img(src='img/Green Shop/PSD/spx2/spx2-2.png', height='77px', width='77px')
                p.content3--container--row--displayleft__li__p1 Cây chân chim
                .content3--container--row--displayleft__li--star
                  i.fa.fa-star(aria-hidden='true')
                  i.fa.fa-star(aria-hidden='true')
                  i.fa.fa-star(aria-hidden='true')
                  i.fa.fa-star(aria-hidden='true')
                  i.fa.fa-star-half-o(aria-hidden='true')
                p.content3--container--row--displayleft__li__p2 #{content_250k}
              li.list-group-item.content3--container--row--displayleft__li
                img.content3--Left--container--row--displayleft__li__img(src='img/Green Shop/PSD/spx2/spx2-9.png', height='77px', width='77px')
                p.content3--container--row--displayleft__li__p3 #{caydalam}
                .content3--container--row--displayleft__li--star
                  i.fa.fa-star(aria-hidden='true')
                  i.fa.fa-star(aria-hidden='true')
                  i.fa.fa-star(aria-hidden='true')
                  i.fa.fa-star(aria-hidden='true')
                  i.fa.fa-star-half-o(aria-hidden='true')
                p.content3--container--row--displayleft__li__p 150.000đ
              li.list-group-item.content3--container--row--displayleft__li
                img.content3--Left--container--row--displayleft__li__img(src='img/Green Shop/PSD/spx2/spx2-15.png', height='77px', width='77px')
                p.content3--container--row--displayleft__li__p4 #{caydanhdu}
                .content3--container--row--displayleft__li--star
                  i.fa.fa-star(aria-hidden='true')
                  i.fa.fa-star(aria-hidden='true')
                  i.fa.fa-star(aria-hidden='true')
                  i.fa.fa-star(aria-hidden='true')
                  i.fa.fa-star-half-o(aria-hidden='true')
                p.content3--container--row--displayleft__li__p2 450.000đ
              li.list-group-item.content3--container--row--displayleft__li
                img.content3--Left--container--row--displayleft__li__img(src='img/Green Shop/PSD/spx2/spx2-12.png', height='77px', width='77px')
                p.content3--container--row--displayleft__li__p5 Cây đa búp đỏ
                .content3--container--row--displayleft__li--star
                  i.fa.fa-star(aria-hidden='true')
                  i.fa.fa-star(aria-hidden='true')
                  i.fa.fa-star(aria-hidden='true')
                  i.fa.fa-star(aria-hidden='true')
                  i.fa.fa-star-half-o(aria-hidden='true')
                p.content3--container--row--displayleft__li__p2 200.000đ
              li.list-group-item.content3--container--row--displayleft__li
                img.content3--Left--container--row--displayleft__li__img(src='img/Green Shop/PSD/spx2/spx2-5.png', height='77px', width='77px')
                p.content3--container--row--displayleft__li__p6 Cây cọ ta
                .content3--container--row--displayleft__li--star
                  i.fa.fa-star(aria-hidden='true')
                  i.fa.fa-star(aria-hidden='true')
                  i.fa.fa-star(aria-hidden='true')
                  i.fa.fa-star(aria-hidden='true')
                  i.fa.fa-star-half-o(aria-hidden='true')
                p.content3--container--row--displayleft__li__p2 300.000đ
              li.list-group-item.content3--container--row--displayleft__li
                img.content3--Left--container--row--displayleft__li__img(src='img/Green Shop/PSD/spx2/spx2-6.png', height='77px', width='77px')
                p.content3--container--row--displayleft__li__p1 Cây dứa nhỏ
                .content3--container--row--displayleft__li--star
                  i.fa.fa-star(aria-hidden='true')
                  i.fa.fa-star(aria-hidden='true')
                  i.fa.fa-star(aria-hidden='true')
                  i.fa.fa-star(aria-hidden='true')
                  i.fa.fa-star-half-o(aria-hidden='true')
                p.content3--container--row--displayleft__li__p2 275.000đ
          .col-xs-9.col-sm-9.col-md-9.col-lg-9.content3--container--row--displayright
            p.content3--container--row--displayright__p Sản phẩm khuyến mãi
            hr.content3--container--row--displayright__hr
            .content3--container--row--displayright--arrow
              i.fa.fa-chevron-circle-left(aria-hidden='true')
              i.fa.fa-chevron-circle-right(aria-hidden='true')
            .row.content3--container--row--displayright--rowOne
              .col-xs-4.col-sm-4.col-md-4.col-lg-4.content3--container--row--displayright--rowOneOne
                .thumbnail.content3--container--row--displayright--rowOneOne--thumbnail
                  img.content3--container--row--displayright--rowOneOne--thumbnail__img(src='img/Green Shop/PSD/spx2/spx2-15.png', height='180px', width='261px')
                  p.content3--container--row--displayright--rowOneOne--thumbnail__p #{caydanhdu}
                  .content3--container--row--displayright--rowOneOne--thumbnail--star
                    i.fa.fa-star(aria-hidden='true')
                    i.fa.fa-star(aria-hidden='true')
                    i.fa.fa-star(aria-hidden='true')
                    i.fa.fa-star(aria-hidden='true')
                    i.fa.fa-star-half-o(aria-hidden='true')
                  .content3--container--row--displayright--rowOneOne--thumbnail--rate
                    p.content3--container--row--displayright--rowOneOne--thumbnail--rate__p1 475.000 đ
                    p.content3--container--row--displayright--rowOneOne--thumbnail--rate__p2 #{content_250k}
                  .content3--container--row--displayright--rowOneOne--thumbnail--PercentageReduction
                    p.content3--container--row--displayright--rowOneOne--thumbnail--PercentageReduction__p 25%
              .col-xs-4.col-sm-4.col-md-4.col-lg-4.content3--container--row--displayright--rowOneOne
                .thumbnail.content3--container--row--displayright--rowOneOne--thumbnail
                  img.content3--container--row--displayright--rowOneOne--thumbnail__img(src='img/Green Shop/PSD/spx2/spx2-12.png', height='180px', width='256px')
                  p.content3--container--row--displayright--rowOneOne--thumbnail__p #{caydanhdu}
                  .content3--container--row--displayright--rowOneOne--thumbnail--star
                    i.fa.fa-star(aria-hidden='true')
                    i.fa.fa-star(aria-hidden='true')
                    i.fa.fa-star(aria-hidden='true')
                    i.fa.fa-star(aria-hidden='true')
                    i.fa.fa-star-half-o(aria-hidden='true')
                  .content3--container--row--displayright--rowOneOne--thumbnail--rate
                    p.content3--container--row--displayright--rowOneOne--thumbnail--rate__p1 668.000 đ
                    p.content3--container--row--displayright--rowOneOne--thumbnail--rate__p2 #{content_250k}
                  .content3--container--row--displayright--rowOneOne--thumbnail--PercentageReduction
                    p.content3--container--row--displayright--rowOneOne--thumbnail--PercentageReduction__p 10%
              .col-xs-4.col-sm-4.col-md-4.col-lg-4.content3--container--row--displayright--rowOneOne
                .thumbnail.content3--container--row--displayright--rowOneOne--thumbnail
                  img.content3--container--row--displayright--rowOneOne--thumbnail__img(src='img/Green Shop/PSD/spx2/spx2-11.png', height='180px', width='255px')
                  p.content3--container--row--displayright--rowOneOne--thumbnail__p Cây cọ ta
                  .content3--container--row--displayright--rowOneOne--thumbnail--star
                    i.fa.fa-star(aria-hidden='true')
                    i.fa.fa-star(aria-hidden='true')
                    i.fa.fa-star(aria-hidden='true')
                    i.fa.fa-star(aria-hidden='true')
                    i.fa.fa-star-half-o(aria-hidden='true')
                  .content3--container--row--displayright--rowOneOne--thumbnail--rate
                    p.content3--container--row--displayright--rowOneOne--thumbnail--rate__p1 770.000 đ
                    p.content3--container--row--displayright--rowOneOne--thumbnail--rate__p2 #{content_250k}
            .row.content3--container--row--displayright--rowTwo
              .col-xs-4.col-sm-4.col-md-4.col-lg-4.content3--container--row--displayright--rowTwoOneOne
                .thumbnail.content3--container--row--displayright--rowTwoOneOne--thumbnail
                  img.content3--container--row--displayright--rowTwoOneOne--thumbnail__img(src='img/Green Shop/PSD/spx2/spx2-11.png', height='180px', width='258px')
                  p.content3--container--row--displayright--rowTwoOneOne--thumbnail__p Cây cọ ta
                  .content3--container--row--displayright--rowTwoOneOne--thumbnail--star
                    i.fa.fa-star(aria-hidden='true')
                    i.fa.fa-star(aria-hidden='true')
                    i.fa.fa-star(aria-hidden='true')
                    i.fa.fa-star(aria-hidden='true')
                    i.fa.fa-star-half-o(aria-hidden='true')
                  .content3--container--row--displayright--rowTwoOneOne--thumbnail--rate
                    p.content3--container--row--displayright--rowTwoOneOne--thumbnail--rate__p1 550.000 đ
                    p.content3--container--row--displayright--rowTwwOneOne--thumbnail--rate__p2 #{content_250k}
              .helpme
                .col-xs-4.col-sm-4.col-md-4.col-lg-4.content3--container--row--displayright--rowTwoOneTwo
                  .thumbnail.content3--container--row--displayright--rowTwoOneTwo--thumbnail
                    img.content3--container--row--displayright--rowTwoOneTwo--thumbnail__img(src='img/Green Shop/PSD/spx2/spx2-11.png', height='180px', width='258px')
                    p.content3--container--row--displayright--rowTwoOneTwo--thumbnail__p Cây cọ ta
                    .content3--container--row--displayright--rowTwoOneTwo--thumbnail--star
                      i.fa.fa-star(aria-hidden='true')
                      i.fa.fa-star(aria-hidden='true')
                      i.fa.fa-star(aria-hidden='true')
                      i.fa.fa-star(aria-hidden='true')
                      i.fa.fa-star-half-o(aria-hidden='true')
                    .content3--container--row--displayright--rowTwoOneTwo--thumbnail--rate
                      p.content3--container--row--displayright--rowTwoOneTwo--thumbnail--rate__p1 780.000 đ
                      p.content3--container--row--displayright--rowTwwOneTwo--thumbnail--rate__p2 #{content_250k}
              .helpyou
                .col-xs-4.col-sm-4.col-md-4.col-lg-4.content3--container--row--displayright--rowTwoOneThree
                  .thumbnail.content3--container--row--displayright--rowTwoOneThree--thumbnail
                    img.content3--container--row--displayright--rowTwoOneThree--thumbnail__img(src='img/Green Shop/PSD/spx2/spx2-11.png', height='180px', width='255px')
                    p.content3--container--row--displayright--rowTwoOneThree--thumbnail__p Cây cọ ta
                    .content3--container--row--displayright--rowTwoOneThree--thumbnail--star
                      i.fa.fa-star(aria-hidden='true')
                      i.fa.fa-star(aria-hidden='true')
                      i.fa.fa-star(aria-hidden='true')
                      i.fa.fa-star(aria-hidden='true')
                      i.fa.fa-star-half-o(aria-hidden='true')
                    .content3--container--row--displayright--rowTwoOneThree--thumbnail--rate
                      p.content3--container--row--displayright--rowTwoOneThree--thumbnail--rate__p1 680.000 đ
                      p.content3--container--row--displayright--rowTwwOneThree--thumbnail--rate__p2 #{content_250k}
    // End : content3
    // Start : content4
    .content4
      .container.content4--container
        img.content4--container__img(src='img/Green Shop/PSD/banner-11140x217.png', alt='', width='1113px')
    // End : content4
    // Start : content5
    section.content5
      .container.content5--container
        .content5--container--one
          p.content5--container--one__p Sản phẩm mới
          hr.content5--container--one__hr
          .content5--container--one--arrow
            i.fa.fa-arrow-circle-left(aria-hidden='true')
            i.fa.fa-arrow-circle-right(aria-hidden='true')
        .content5--conainer--two
          .card-deck.content5--conainer--two--card--deck
            .card.content5--conainer--two--card--deck--card1
              img.content5--conainer--two--card--deck--card1__img(src='img/Green Shop/PSD/spx2/spx2-15.png', height='180px', width='260px')
              .card-body.content5--conainer--two--card--deck--card1--card-body
                p.content5--conainer--two--card--deck--card-body__p #{caydanhdu}
                .content5--container--twoOne--card1--body--star
                  i.fa.fa-star(aria-hidden='true')
                  i.fa.fa-star(aria-hidden='true')
                  i.fa.fa-star(aria-hidden='true')
                  i.fa.fa-star(aria-hidden='true')
                  i.fa.fa-star-half-o(aria-hidden='true')
              .content5--conainer--two--card--deck--card1--rate
                p.content5--conainer--two--card--deck--card1--rate__p1 #{content_250k}
                p.content5--conainer--two--card--deck--card1--rate__p2 #{content_250k}
              .content5--conainer--two--card--deck--card1--rate--PercentageReduction
                p.content5--conainer--two--card--deck--card1--rate--PercentageReduction__p new
            .card.content5--conainer--two--card--deck--card1
              img.content5--conainer--two--card--deck--card1__img(src='img/Green Shop/PSD/spx2/spx2-7.png', height='180px', width='260px')
              .card-body.content5--conainer--two--card--deck--card1--card-body
                p.content5--conainer--two--card--deck--card-body__p2 Cây Xương Rồng
                .content5--container--twoOne--card1--body--star2
                  i.fa.fa-star(aria-hidden='true')
                  i.fa.fa-star(aria-hidden='true')
                  i.fa.fa-star(aria-hidden='true')
                  i.fa.fa-star(aria-hidden='true')
                  i.fa.fa-star-half-o(aria-hidden='true')
              .content5--conainer--two--card--deck--card1--rate
                p.content5--conainer--two--card--deck--card1--rate__p1 #{content_250k}
                p.content5--conainer--two--card--deck--card1--rate__p2 #{content_250k}
            .card.content5--conainer--two--card--deck--card1
              img.content5--conainer--two--card--deck--card1__img(src='img/Green Shop/PSD/spx2/spx2-12.png', height='180px', width='260px')
              .card-body.content5--conainer--two--card--deck--card1--card-body
                p.content5--conainer--two--card--deck--card-body__p3 #{caydalam}
                .content5--container--twoOne--card1--body--star
                  i.fa.fa-star(aria-hidden='true')
                  i.fa.fa-star(aria-hidden='true')
                  i.fa.fa-star(aria-hidden='true')
                  i.fa.fa-star(aria-hidden='true')
                  i.fa.fa-star-half-o(aria-hidden='true')
              .content5--conainer--two--card--deck--card1--rate
                p.content5--conainer--two--card--deck--card1--rate__p1 #{content_250k}
                p.content5--conainer--two--card--deck--card1--rate__p2 #{content_250k}
            .card.content5--conainer--two--card--deck--card1
              img.content5--conainer--two--card--deck--card1__img(src='img/Green Shop/PSD/spx2/spx2-11.png', height='180px', width='260px')
              .card-body.content5--conainer--two--card--deck--card1--card-body
                p.content5--conainer--two--card--deck--card-body__p Cây dứa nhỏ
                .content5--container--twoOne--card1--body--star
                  i.fa.fa-star(aria-hidden='true')
                  i.fa.fa-star(aria-hidden='true')
                  i.fa.fa-star(aria-hidden='true')
                  i.fa.fa-star(aria-hidden='true')
                  i.fa.fa-star-half-o(aria-hidden='true')
              .content5--conainer--two--card--deck--card1--rate
                p.content5--conainer--two--card--deck--card1--rate__p1 #{content_250k}
                p.content5--conainer--two--card--deck--card1--rate__p2 #{content_250k}
          .card-deck.content5--conainer--two--card--deck
            .card.content5--conainer--two--card--deck--card1
              img.content5--conainer--two--card--deck--card1__img(src='img/Green Shop/PSD/spx2/spx2-1.png', height='180px', width='260px')
              .card-body.content5--conainer--two--card--deck--card1--card-body
                p.content5--conainer--two--card--deck--card-body__p #{caydanhdu}
                .content5--container--twoOne--card1--body--star
                  i.fa.fa-star(aria-hidden='true')
                  i.fa.fa-star(aria-hidden='true')
                  i.fa.fa-star(aria-hidden='true')
                  i.fa.fa-star(aria-hidden='true')
                  i.fa.fa-star-half-o(aria-hidden='true')
              .content5--conainer--two--card--deck--card1--rate
                p.content5--conainer--two--card--deck--card1--rate__p1 680.000 đ
                p.content5--conainer--two--card--deck--card1--rate__p2 #{content_250k}
            .card.content5--conainer--two--card--deck--card1
              img.content5--conainer--two--card--deck--card1__img(src='img/Green Shop/PSD/spx2/spx2-5.png', height='180px', width='260px')
              .card-body.content5--conainer--two--card--deck--card1--card-body
                p.content5--conainer--two--card--deck--card-body__p6 #{caydalam}
                .content5--container--twoOne--card1--body--star2
                  i.fa.fa-star(aria-hidden='true')
                  i.fa.fa-star(aria-hidden='true')
                  i.fa.fa-star(aria-hidden='true')
                  i.fa.fa-star(aria-hidden='true')
                  i.fa.fa-star-half-o(aria-hidden='true')
              .content5--conainer--two--card--deck--card1--rate
                p.content5--conainer--two--card--deck--card1--rate__p1 880.000 đ
                p.content5--conainer--two--card--deck--card1--rate__p2 #{content_250k}
            .card.content5--conainer--two--card--deck--card1
              img.content5--conainer--two--card--deck--card1__img(src='img/Green Shop/PSD/spx2/spx2-2.png', height='180px', width='260px')
              .card-body.content5--conainer--two--card--deck--card1--card-body
                p.content5--conainer--two--card--deck--card-body__p7 Cây chân chim
                .content5--container--twoOne--card1--body--star
                  i.fa.fa-star(aria-hidden='true')
                  i.fa.fa-star(aria-hidden='true')
                  i.fa.fa-star(aria-hidden='true')
                  i.fa.fa-star(aria-hidden='true')
                  i.fa.fa-star-half-o(aria-hidden='true')
              .content5--conainer--two--card--deck--card1--rate
                p.content5--conainer--two--card--deck--card1--rate__p1 750.000 đ
                p.content5--conainer--two--card--deck--card1--rate__p2 #{content_250k}
            .card.content5--conainer--two--card--deck--card1
              img.content5--conainer--two--card--deck--card1__img(src='img/Green Shop/PSD/spx2/spx2-14.png', height='180px', width='260px')
              .card-body.content5--conainer--two--card--deck--card1--card-body
                p.content5--conainer--two--card--deck--card-body__p8 Cây đa búp đỏ
                .content5--container--twoOne--card1--body--star
                  i.fa.fa-star(aria-hidden='true')
                  i.fa.fa-star(aria-hidden='true')
                  i.fa.fa-star(aria-hidden='true')
                  i.fa.fa-star(aria-hidden='true')
                  i.fa.fa-star-half-o(aria-hidden='true')
              .content5--conainer--two--card--deck--card1--rate
                p.content5--conainer--two--card--deck--card1--rate__p1 150.000 đ
                p.content5--conainer--two--card--deck--card1--rate__p2 #{content_250k}
    // End : content5
    // Start : content6
    section.content6
      .container.content6--container
        .content6--container--One
          p.content6--container--One__p Tin tức
          hr.content6--container--One__hr
        .content6--container--Two
          .row.content--container--Two--row
            .col-xs-4.col-sm-4.col-md-4.col-lg-4.content-container--Two--row--displayproduct
              img.content--container--Two--row__img(src='img/Green Shop/PSD/content6_image1.png', height='202px', width='350px')
              p.content--container--Two--row__p1 #{content6__p1 }
              p.content--container--Two--row__p2 15 thiết kế phòng ngủ tuyệt đẹp làm vạn người mê
              p.content--container--Two--row__p3
                | Cùng Sài Gòn tìm hiểu một vài xu hướng thiết kế sân vườn được ưa chuộng hiện nay nhé ! Kết hợp hàng rào
              p.content--container--Two--row__p4 Đọc tiếp
            .col-xs-4.col-sm-4.col-md-4.col-lg-4.content-container--Two--row--displayproduct
              img.content--container--Two--row__img(src='img/Green Shop/PSD/content6_image2.png', height='202px', width='350px')
              p.content--container--Two--row__p1 #{content6__p1 }
              p.content--container--Two--row__p2 Tạo Tiểu Cảnh Góc Sân Cho Nhà Phố , Biệt Thự Đẹp
              p.content--container--Two--row__p3
                | Khi bước từ ngoài ngõ vào hay từ trong nhà đi ra , góc sân nhà luôn là điểm nhìn đầu tiên của chúng ta
              p.content--container--Two--row__p4 Đọc tiếp
            .col-xs-4.col-sm-4.col-md-4.col-lg-4.content-container--Two--row--displayproduct
              img.content--container--Two--row__img(src='img/Green Shop/PSD/content6_image3.png', height='202px', width='350px')
              p.content--container--Two--row__p1 #{content6__p1 }
              p.content--container--Two--row__p2 Cách bố trí hoa chậu trước cửa ấn tượng
              p.content--container--Two--row__p3
                | Như thể hiện sự thân thiện cũng như sự hiếu khách của gia chủ , phần không gian cửa trước
              p.content--container--Two--row__p4 Đọc tiếp
    // End : content6
    // Start : Footer
    include footer.pug
    // End : Footer
